<nav class="flex justify-center gap-6 py-3 bg-gray-800 text-white rounded-b-xl">
  <a routerLink="/" routerLinkActive="text-yellow-300" [routerLinkActiveOptions]="{ exact: true }"
     class="hover:text-yellow-300 transition">Home</a>

  <a routerLink="/movies" routerLinkActive="text-yellow-300"
     class="hover:text-yellow-300 transition">Movies</a>

  <a routerLink="/tv-shows" routerLinkActive="text-yellow-300"
     class="hover:text-yellow-300 transition">TV Shows</a>

  <a routerLink="/favorites" routerLinkActive="text-yellow-300"
     class="hover:text-yellow-300 transition">Favorites</a>
</nav>
